main{
    margin: 0 25% 0 25%;
}

body {
    margin: 0 0 0 0 ;
    padding: 10 20 02 10;
    background-color: black;
}

nav ul  {
    display: grid;
    width: 100%;
    list-style: none;
    background-color: red;
    grid-template-columns: 55% 10% 10% 10% 10%;
    margin: 0;
    padding: 1%;
}

li{
    text-align: right;
}

#name{
    margin-left: 1%;
    color: white;
    text-align: left;
    margin-right: 200%;
}


p {
    color: white;
}

h1{
    color: white;
    text-align: center;
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
}
